CATL/Web References/mesMiMergeProcessLotsIntoOneService/MiMergeProcessLotsIntoOneServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="mergeProcessLotsIntoOneRequest" type="tns:mergeProcessLotsIntoOneRequest" />
      <xs:element name="miCommonResponse" type="tns:miCommonResponse" />
      <xs:element name="miMergeProcessLotsIntoOne" type="tns:miMergeProcessLotsIntoOne" />
      <xs:element name="miMergeProcessLotsIntoOneResponse" type="tns:miMergeProcessLotsIntoOneResponse" />
      <xs:complexType name="miMergeProcessLotsIntoOne">
        <xs:sequence>
          <xs:element minOccurs="0" name="MergeProcessLotsIntoOneRequest" type="tns:mergeProcessLotsIntoOneRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mergeProcessLotsIntoOneRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="processLots" type="xs:string" />
          <xs:element name="targetProcesslot" type="xs:string" />
          <xs:element name="user" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miMergeProcessLotsIntoOneResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:miCommonResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCommonResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miMergeProcessLotsIntoOneIn">
    <wsdl:part name="parameters" element="tns:miMergeProcessLotsIntoOne" />
  </wsdl:message>
  <wsdl:message name="miMergeProcessLotsIntoOneOut">
    <wsdl:part name="miMergeProcessLotsIntoOneResponse" element="tns:miMergeProcessLotsIntoOneResponse" />
  </wsdl:message>
  <wsdl:portType name="MiMergeProcessLotsIntoOneService">
    <wsdl:operation name="miMergeProcessLotsIntoOne" parameterOrder="parameters">
      <wsdl:input message="tns:miMergeProcessLotsIntoOneIn" />
      <wsdl:output message="tns:miMergeProcessLotsIntoOneOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiMergeProcessLotsIntoOneServiceBinding" type="tns:MiMergeProcessLotsIntoOneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miMergeProcessLotsIntoOne">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiMergeProcessLotsIntoOneServiceService">
    <wsdl:port name="MiMergeProcessLotsIntoOneServicePort" binding="tns:MiMergeProcessLotsIntoOneServiceBinding">
      <address location="http://172.26.11.3:50000/atlmeswebservice/MiMergeProcessLotsIntoOneServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>