CATL/Web References/mesMiCreateAndPassSfcService/MiCreateAndPassSfcServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ns1="http://www.sap.com/me/datacollection" targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sap.com/me/datacollection" />
      <xs:element name="createAndPassSfcRequest" type="tns:createAndPassSfcRequest" />
      <xs:element name="createAndPassSfcResponse" type="tns:createAndPassSfcResponse" />
      <xs:element name="machineIntegrationParametricData" type="tns:machineIntegrationParametricData" />
      <xs:element name="miCreateAndPassSfc" type="tns:miCreateAndPassSfc" />
      <xs:element name="miCreateAndPassSfcResponse" type="tns:miCreateAndPassSfcResponse" />
      <xs:element name="ncSfcParametricData" type="tns:ncSfcParametricData" />
      <xs:complexType name="miCreateAndPassSfc">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:createAndPassSfcRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPassSfcRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="previousTrayId" type="xs:string" />
          <xs:element name="currentTrayId" type="xs:string" />
          <xs:element name="dcGroup" type="xs:string" />
          <xs:element minOccurs="0" name="dcGroupRevision" type="xs:string" />
          <xs:element name="ncGroup" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element minOccurs="0" name="operationRevision" type="xs:string" />
          <xs:element name="resource" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="activityId" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="parametricDatas" type="tns:machineIntegrationParametricData" />
          <xs:element maxOccurs="unbounded" name="ncCodes" type="tns:ncSfcParametricData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="machineIntegrationParametricData">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="dataType" type="ns1:ParameterDataType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ncSfcParametricData">
        <xs:sequence>
          <xs:element name="ncCode" type="xs:string" />
          <xs:element name="isNc" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCreateAndPassSfcResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:createAndPassSfcResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createAndPassSfcResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element name="message" type="xs:string" />
          <xs:element name="passedTrayId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://www.sap.com/me/datacollection" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="ParameterDataType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NUMBER" />
          <xs:enumeration value="TEXT" />
          <xs:enumeration value="FORMULA" />
          <xs:enumeration value="BOOLEAN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miCreateAndPassSfcIn">
    <wsdl:part name="parameters" element="tns:miCreateAndPassSfc" />
  </wsdl:message>
  <wsdl:message name="miCreateAndPassSfcOut">
    <wsdl:part name="miCreateAndPassSfcResponse" element="tns:miCreateAndPassSfcResponse" />
  </wsdl:message>
  <wsdl:portType name="MiCreateAndPassSfcService">
    <wsdl:operation name="miCreateAndPassSfc" parameterOrder="parameters">
      <wsdl:input message="tns:miCreateAndPassSfcIn" />
      <wsdl:output message="tns:miCreateAndPassSfcOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiCreateAndPassSfcServiceBinding" type="tns:MiCreateAndPassSfcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miCreateAndPassSfc">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiCreateAndPassSfcServiceService">
    <wsdl:port name="MiCreateAndPassSfcServicePort" binding="tns:MiCreateAndPassSfcServiceBinding">
      <address location="http://172.26.11.3:50000/atlmeswebservice/MiCreateAndPassSfcServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>